body {
    background-color: #24417c;
}

#login {
  height: 40px;
  width: 150px;
  color: white;
  background-color: #CF493B;
  border: none;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

#loginDiv {
  width: 400px;
  height: 40px;
  margin: 20% auto;
  vertical-align: middle;
}
